.create-channel-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-channel-input{
  padding: 7px;
  margin: 10px 5px;
  width: 202px;
  border: 1px solid black;
}

.create-channel-btn {
  border: 1px solid black;
  background-color: white;
  height: 25px;
  width: 100px;
  margin: 5px;
}

.create-channel-btn:hover {
  background-color: black;
  color: white;
}

.create-channel-form {
  width: 70%;
  margin: 10px;
}
