.playlist-wrapper {
  display: flex;
  justify-content: center;
  margin: 15px 5px 10px;
}

iframe {
  border: 2px solid black;
  width: 80%;
}

.search-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.search-wrapper input,
.search-wrapper button {
  border: 1px solid black;
  margin: 10px 5px;
  padding: 7px;
}

.search-wrapper input{
  width: 264px;
}

.search-wrapper button {
  background-color: white;
  width: 122px;
}

.search-wrapper button:hover {
  background-color: black;
  color: white;
}

.search-track-wrapper {
  border: 2px purple solid;
  height: 276px;
  width: 79%;
  position: absolute;
  top: 148px;
  overflow: scroll;
}

.track {
  border-bottom: 1px lightgrey solid;
  margin: 0;
  padding: 10px;
}

.hidden {
  display: none;
}
