.playlist-wrapper {
  display         : flex;
  margin          : 15px 5px 10px;
  justify-content : center;
}

iframe {
  width  : 80%;
  border : 2px solid black;
}

.search-wrapper {
  display        : flex;
  position       : relative;
  align-items    : center;
  flex-direction : column;
}

.search-wrapper button,
.search-wrapper input {
  margin  : 10px 5px;
  padding : 7px;
  border  : 1px solid black;
}

.search-wrapper input {
  width : 264px;
}

.search-wrapper button {
  width            : 122px;
  background-color : white;
}

.search-wrapper button:hover {
  color            : white;
  background-color : black;
}

.track-wrapper {
  position : absolute;
  top      : 148px;
  width    : 79%;
  height   : 276px;
  overflow : scroll;
  border   : 2px purple solid;
}

.track {
  margin        : 0;
  padding       : 10px;
  border-bottom : 1px lightgrey solid;
}

.hidden {
  display : none;
}
