.home-wrapper {
  display        : flex;
  align-items    : center;
  flex-direction : column;
}

.button-link {
  display          : flex;
  width            : 270px;
  height           : 25px;
  margin           : 5px;
  border           : 1px solid black;
  background-color : white;
  align-items      : center;
  font-size        : 15px;
  justify-content  : center;
}

.button-link:hover {
  color            : white;
  background-color : black;
}
