.login-wrapper {
  display         : flex;
  align-items     : center;
  flex-direction  : column;
  justify-content : center;
}

.login-link {
  display         : flex;
  width           : 200px;
  margin          : 20px;
  padding         : 5px;
  color           : black;
  border          : 1px solid black;
  text-decoration : none;
  align-items     : center;
  justify-content : center;
}

.login-link:hover {
  color            : white;
  background-color : black;
}

.login-wrapper p {
  margin : 0px;
}
